.gui-container {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
  color: white;
  width: 75%;
  height: 75%;
  background: rgb(67, 67, 88);
  border-radius: 5px;
}

.gui-osc1 {
  grid-column: 1 / span 1;
  grid-row: 1;
}

.gui-osc2 {
  grid-column: 1 / span 1;
  grid-row: 2;
}

.gui-osc1,
.gui-osc2 {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.gui-waveform-btn {
  width: 75%;
  margin: 10px auto 0;
  padding: 5px 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px 5px 0 0;
}

.gui-waveform-choices {
  position: relative;
  width: 75%;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 0;
  border-radius: 0 0 5px 5px;
}